body {
    background-color: cyan;
    max-width: 900px;
    margin: auto;
}
#titulo {
    color: rgb(255, 0, 0);
    font-size: 25px;
} 
.subtitulo, .post_titulo {
color: rgb(0, 0, 5);
font-size: 16px;
font-style: italic;
}
.rock{
    background-color: darkmagenta;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10% 0 0 0;
    margin: 20px;
    width: 600px;
    text-align: center;
}
.apresent {
    background-color: darkorchid;
    border-radius: 20%;
    border: 5px solid springgreen;
    margin: 15px;
    padding: 10px;
}
.imagem {
    border-radius: 50%;
    border: 2px solid black;
}
.post {
    background-color: dimgrey;
    padding:  10px;
    border: 3px solid crimson;
    margin: 15px;
}
.post li a {
    color: rgb(250, 7, 7);
}